.barra {
    background-color: #083e5f;
}

.img {
    margin-left: 5%;
}

html{
    background-image: url("https://images5.alphacoders.com/774/774369.jpg");
}
.text{
    font-family:'Times New Roman', Times, serif;
}

p{
    font-family: 'Courier New', Courier, monospace
}

body{
    margin: 0%;
}

.grid{
    margin: 15% 49% 50% 40%;
    background-color: aliceblue;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
}


.button {
    background-color: #094358;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 85%;
    margin-right: 85%;
}